<% provide(:title, "") %>

<div class="center jumbotron">

<h1>勤怠管理システムB</h1>


<%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>

<div class="top-comment">
アカウント作成は
<%= link_to  "こちら", new_user_path %>
から
</div>

</div>