
<div class="footer">
<hr>
  <div class="footer-left">
    The Ruby on Rails Tutorial by Michael Hartl
  </div>



  <div class="footer-right">
    <ul>
      <li>About</li>
      <li>Contact</li>
      <li>News</li>
    </ul>
  </div>


</div>